@import '../../assets/variables.scss';

.row {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  .fullHeight {
    height: 60vh;
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;

    >div {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .flexContainer {
    height: 60vh;
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
      border-top: 10px solid #9047FF;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

  }

  .column {
    .upperContainer {
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: #606060;
    }
  }
}