@import '../../assets/variables.scss';

.searchInput {
  -webkit-appearance: none;
  height: 60px;
  width: 100%;
  box-shadow: $boxShadow;
  transition: 0.3s;
  padding: 1em;
  margin-right: 1em;
  border-radius: $borderRadius;
  border: none;
  font-size: large;

  &:hover,
  &:focus {
    box-shadow: $hoverBoxShadow;
  }
}

.button {
  height: 60px;
  background: white;
  box-shadow: $boxShadow;
  transition: 0.3s;
  border-radius: $borderRadius;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: $hoverBoxShadow;
  }

  .image {
    height: 50px;
  }
}