@import '../../assets/variables.scss';

.navigationContainer {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  align-items: center;

  img {
    height: 40px;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    padding: 10px 20px;
    cursor: pointer;
    color: #7B8585;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background-color: white;
      box-shadow: $hoverBoxShadow;
      border-radius: $borderRadius;
      transition: 0.3s;
    }

    a {
      &:link {
        text-decoration: none;
      }

      &:visited {
        text-decoration: none;
      }
    }
  }
}