@import '../../assets/variables.scss';

.tweet {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: $boxShadow;
  transition: 0.3s;
  padding: 1em;
  border-radius: $borderRadius;
  overflow: hidden;
  cursor: grab;

  &:hover {
    box-shadow: $hoverBoxShadow;
  }

  .deleteButton {
    border: none;
    background: white;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: $borderRadius;
    cursor: pointer;

    &:hover {
      box-shadow: $hoverBoxShadow;
    }

    .deleteIcon {
      width: 30px;
    }

  }
}