@import '../../../assets/variables.scss';

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.content {
  flex: 1
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;

  .rowUserNameHandle {
    display: flex;
    flex-direction: row;

    .userName {
      font-weight: 700;
      text-overflow: ellipsis;
      flex: 1 1 85%;
      margin-right: 10px;
      white-space: pre-wrap;
    }

    .twitterHandle {
      flex: 1 1 15%;
      text-overflow: ellipsis;
      margin-right: 10px;
      white-space: pre-wrap;
    }
  }

  .date {
    flex: 1 1 20%;
    font-weight: 300;
    flex-direction: row-reverse;
    display: flex;
  }


}